body {
    background-color: rgb(245, 216, 162);
}

.navbar {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 100%;
}

.addBook {
    font-size: large;
    margin: 20px;
}

.addBookDiv {
    text-align: center;
}

.form {
    background-color: rgb(179, 177, 177);
    display: inline-block;
    border-radius: 8px;
    padding: 10px;
    margin: 25px;
    text-align: center;
    box-shadow: 2px 2px 7px 0px;
    visibility: hidden;
}

.submitbtn {
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(31, 243, 31);
}

#newDiv {
    background-color: rgb(243, 229, 179);
    min-width: 200px;
    height: 240px;
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 7px 0px;
    display: inline-block;
    margin: 5px;
}

p {
    margin-left: 19px;
    background-color: white;
    width: 80%;
    border-radius: 5px;
}
#readBtn{
    background-color: rgb(30, 207, 30);
    width: 70%;
    margin: 10px;
}

